@use 'variables' as v; 

html {
    box-sizing: border-box;
    font-family: v.$font-body;
    font-size: 62.5%;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    font-size: v.$font-size-body;
    color: v.$color-body; 
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.7;
  }