@use 'variables' as v; 

html {
    box-sizing: border-box;
    font-family: v.$font-body;
    font-size: 62.5%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    font-size: v.$font-size-body;
    color: v.$color-body; 
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  h1, 
  h2 {
    color: v.$color-black; 
    font-size: v.$font-size-title-big;
  }

  span {
    color: v.$color-black; 
  }
  
  p {
    margin-bottom: 8px;
    line-height: 1.6;
  }